<div class="hero is-fullheight hero-first">
  <div class="hero-first-bg">
    <img src="/assets/images/comet.svg" class="comet">
  </div>
  <div class="hero-body">
    <div class="container">
      <h1>Senior Software Engineer</h1>
      <h2>Mozirje, Slovenia</h2>
      <div class="more-buttons">
        <a class="more-button" href="https://github.com/jkuri">
          <i class="fab fa-github"></i>
          GitHub Profile
        </a>
        <a class="more-button" href="https://si.linkedin.com/in/jan-kuri-1a1374b4">
          <i class="fab fa-linkedin"></i>
          LinkedIn Profile
        </a>
      </div>
    </div>
  </div>
</div>
