<div class="hero is-fullheight hero-first">
  <div class="hero-first-bg"></div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="avatar-wrapper">
            <div class="avatar-container">
              <img src="/assets/images/1796022.jpeg" class="avatar" />
            </div>
          </div>
          <h1>Senior Software Engineer</h1>
          <h2>Slovenj Gradec, Slovenia</h2>
          <div class="more-buttons">
            <a class="more-button" href="https://github.com/jkuri">
              <i class="fab fa-github"></i>
              GitHub Profile
            </a>
            <a class="more-button" href="https://si.linkedin.com/in/jan-kuri-1a1374b4">
              <i class="fab fa-linkedin"></i>
              LinkedIn Profile
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
