.hero-first
  background: $background
  position: relative

  .hero-first-bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%

  h1
    color: $white
    font-size: 46px
    line-height: 50px
    font-weight: $weight-light

    +mobile
      font-size: 28px

  h2
    color: $white
    font-size: 22px
    line-height: 36px
    font-weight: $weight-thin

    +mobile
      font-size: 18px

  .more-buttons
    width: 100%
    display: flex
    align-items: center
    margin: 40px 0 150px 0

    .more-button
      outline: none
      border: 1px solid $white
      color: $white
      padding: 15px 40px
      font-size: 16px
      background: transparent
      margin-right: 15px
      cursor: pointer
      text-decoration: none
      display: inline-flex
      justify-content: center
      align-items: center
      font-weight: $weight-thin
      border-radius: 2px
      transition: all 150ms ease-out

      +mobile
        font-size: 14px

      &:hover
        background: rgba($white, .85)
        color: $purple

      i
        margin-right: 10px
        font-size: 20px

  .stars, .comets
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

  .comet
    width: 40px
    height: 40px
    top: -70px
    left: -70px
    content: ''
    display: block
    position: absolute
