$white: #fff
$black: #000

$background: #fcfcfc
$text-primary: #333
$border-default: #EAEDF3

$blue-100: #ebf8ff
$blue-200: #bee3f8
$blue-300: #90cdf4
$blue-400: #63b3ed
$blue-500: #4299e1
$blue-600: #3182ce
$blue-700: #2b6cb0
$blue-800: #2c5282
$blue-900: #2a4365

.box
  border-radius: 4px
  background: $white
  border: 1px solid $border-default
  padding: 30px

  .profile-img
    height: 120px
    border-radius: 50%
