<div class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="box">
            <div class="columns is-multiline">
              <div class="column is-4">
                <img src="/assets/images/jan.png" class="profile-img" />
              </div>
              <div class="column is-8">
                <h1>Jan Kuri</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
